.container{
    margin-bottom: 70px;
}
.carousel_colour{
    background-color: #fceae8;
    border-radius: 10px;


}
.carousel-item{
    padding: 20px 20px 20px 20px;
}
.price{
    color: #ff136f;
}
.buy-now{
    background-image: linear-gradient( to bottom, #ff136f 0% , #a51d1d 100% );
    border-radius: 10px;
    padding: 12px 25px;
}
.cat1{
    background-color: orangered ;
    border-radius: 10px;
}
.cat2{
    background-color: blue;
    border-radius: 10px;

}
.cat3{
    background-color: #ff136f;
    border-radius: 10px;
}
.cat1,.cat2 ,.cat3{
    padding: 10px 30px;
    align-items: center;
    justify-content: flex-start;
}
.catagories h2{
    color: white;
}
.catagories img{
    width: 100px;
}
.card-footer{
    background-color: #ff136f;
    border-color: black;

}
#subscribe{
    height: 300px;

}
footer{
    text-align: center;
    font-size: smaller;
}